.navbar {
    transition: all 0.4s;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.navbar-toggler:hover {
    outline: none !important;
    color: #f88621;
}

.navbar-toggler {
    outline: none !important;
    color: #134870;
}

.navbar .nav-link {
    color: #fff;
}

.navbar li {
    padding: 0px 0px 0px 30px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #134870;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #f88621;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #f88621;
}


/* Change navbar styling on small viewports */

@media only screen and (max-width: 764px) {
    .navbar {
        background: #fff;
    }
    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #134870;
    }
}